.header-logo {
    height: 30px;
    padding: 0px 15px;
}

body{
    background-color: #fefae0;
    width: 100%;
}

main{
    background-color: #faedcd;
}

header{
    background-color: #d4a373 ;
}

nav{
    background-color: #ccd5ae;

}

footer{
    background-color: #ccd5ae;
}

aside{
    background-color: #e9edc9;
}


